################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiStockLive/WebApiStockLive/obj
/WebApiStockLive/.vs/WebApiStockLive/v16
