################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiStockLive/WebApiStockLive/obj
/WebApiStockLive/.vs/WebApiStockLive/v16
/WebApiStockLive/WebApiStockLive/bin/Debug/netcoreapp3.1
/WebApiStockLive/.vs/WebApiStockLive/config
/WebApiStockLive/Domain/bin/Debug/netcoreapp3.1
/WebApiStockLive/Repository/bin/Debug/netcoreapp3.1
/WebApiStockLive/Repository/obj
/WebApiStockLive/WebApiStockLive/stocklive.db
/WebApiStockLive/WebApiStockLive/stocklive.db-wal
/WebApiStockLive/WebApiStockLive/stocklive.db-shm
/WebApiStockLive/.vs/WebApiStockLive/DesignTimeBuild/.dtbcache.v2
