<header class="navbar navbar-dark sticky-top bg-main flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Story Live</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Entrar</a>
    </li>
  </ul>
</header>

<div class="row">
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-main sidebar collapse text-white">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <i class="fas fa-chart-line"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-box-open"></i>
          Produtos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fab fa-stack-overflow"></i>
          Stocks
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-dolly-flatbed"></i>
          Move Orders
        </a>
      </li>
    </ul>
  </div>
</nav>
</div>